body {
  background: url(patung\ madara\ hashirama.jpg);
  background-size: cover;
  padding: 200px 450px;
  color: white;
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jam {
  font-size: 4.5pc;
}
#tanggal {
  font-size: 2pc;
}
#jam,
#tanggal {
  text-shadow: 0 5px 5px #000000bb;
  justify-content: center;
}
